apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: mysql

resources:
  - statefulset.yaml
  - service.yaml
  - pvc.yaml

labels:
  - pairs:
      app.kubernetes.io/name: mysql
      app.kubernetes.io/component: database
      app.kubernetes.io/part-of: morupark-msa